@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Open+Sans&display=swap');

* {
  color: #000000;
}

html,
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.inner {
  padding: 32px;
}
