.footer {
  text-align: center;
  margin: auto;
  background-color: #000000;
  padding: 16px;

  * {
    color: #ffffff;
  }

  .copyright {
    display: flex;
    justify-content: space-between;

    a:hover {
      color: #ff7600;
    }
  }
}
