#top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 16px;
  background: #000000;
}

#right {
  position: fixed;
  top: 0;
  right: 0;
  width: 16px;
  height: 100vh;
  background: #000000;
}

#bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 16px;
  background: #000000;
}

#left {
  position: fixed;
  top: 0;
  left: 0;
  width: 16px;
  height: 100vh;
  background: #000000;
}
