@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

header {
  display: grid;
  grid-template-areas: 'menu logo auto';

  & .logo {
    font-family: 'Bangers', cursive;
    font-size: 3em;
    text-align: center;
  }
}
