@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  & .logo {
    font-family: 'Bangers', cursive;
    font-size: 50px;
  }
}
