@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

header {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;

  & .logo {
    font-family: 'Bangers', cursive;
    font-size: 3em;
    text-align: center;
  }
}
