#sticky-navigation-menu {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
  padding: 16px;
  border-radius: 8px;
  border: 4px solid #000000;
  background-color: #ffffff;
  overflow: hidden;

  a {
    display: inline-block;
    padding: 2px 8px;
    border-radius: 4px;
    font-weight: bold;
  }

  a:hover {
    background-color: #000000;
    color: #ffffff;
  }
}
