.page {
  padding: 40px 0;
}

.section {
  padding: 40px 0;
  margin: auto;
  width: 60vw;
}

.section-title {
  text-align: center;
  margin-bottom: 160px;
}

.full {
  display: flex;
  width: 100%;
}

.half {
  width: 50%;
  position: relative;
}
